*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:brown;
    font-family:'Times New Roman', Times, serif;
}

.logo img{
    width :200;

}


.header{
    display: flex;
    justify-content: space-between;

}
.header ul{
    display: flex;
    align-items: center;
}

header ul li:hover{
    color:rgb(148, 49, 234)
}

.choices{
    margin: 50;
    padding: 0 50px;
    font-size: 15px;
}